.sign-up-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    .sign-up-section {
        max-width: 500px;
        background: #fff;
        box-shadow: 0 0 5px #aaa;
        width: 96%;
        padding: 20px;
        .mat-form-field {
            padding-top: 20px;
            border-bottom: solid 1px #aaa;
            width: 100%;
            float: left;
            margin: 5px 0;
            box-sizing: border-box;
            box-sizing: border-box; 
        }
    }
}
.button {
    background:rgb(41, 117, 117);
    color: white;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

.field:focus {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px 5px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #151618;
    white-space: nowrap;
    transition: 0.2s;
  }

