.tableSection {
    display: block;
    margin: 2% 5% 10% 5%;
    overflow-y: auto;
}

.heading {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

table {
    width: 100%;
}