.login-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}
.login-section {
  max-width: 500px;
  background: #fff;
  box-shadow: 0 0 5px #aaa;
  width: 96%;
  padding: 0px 20px 20px 20px;
}
.section {
  text-align: center;
}
.login {
  padding-top: 30px;
  padding-left: 200px;
}

.mat-form-field {
  padding: 0px 8px 1px 8px;
  border-bottom: solid 1px rgb(83, 81, 81);
  width: 100%;
  float: left;
  margin: 0px 0px 45px 0px;
  box-sizing: border-box;
}

.button {
  background: rgb(41, 117, 117);
  color: white;
}
button:hover {
  background-color: rgb(143, 135, 135);
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.field:focus {
  padding: 20px 0px 5px 0px;
  font-size: 16px;
  font-weight: 500;
  color: #151618;
  white-space: nowrap;
  transition: 0.2s;
}
