<div class="login-form">
  <img src="././assets/images/login_image.png" width="400" height="400" alt="login image" />
  <div class="login-section">
    <p>{{ "Login" | translate }}</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" role="form" novalidate>

      <mat-form-field fxFlex="50">
        <label>{{ "Email" | translate }}</label>
        <input class="field" type="text" formControlName="email" matInput id="email" />
        <mat-error *ngIf="form.controls.email.hasError('required')">
          {{ "EMAIL_ADDRESS_REQUIRED" | translate }}</mat-error>
        <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">
          {{ "MUST_INCLUDE_VALID_EMAIL" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <label>{{ "Password" | translate }}</label>
        <input class="field" matInput id="password" [type]="showPassword ? 'text' : 'password'"
          formControlName="password" (input)="onPasswordInput()" />
        <mat-error *ngIf="form.controls.password.touched && form.controls.password.hasError('required')">
          {{ 'PASSWORD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <div>
        <button color="primary" type="submit" mat-flat-button class="button" [disabled]="!form.valid && form.dirty"
          (click)="onSubmit()">
          <!-- {{!(form.valid && form.dirty)}}
          {{form.valid}}
          {{form.dirty}} -->
          Login
        </button>
      </div>
    </form>
  </div>
</div>
